<form action="">

  <div>
    <div>title</div>
    <div>
      <input [(ngModel)]="title" name="title">
    </div>
  </div>
  <div>
    <div>content</div>
    <div>
      <input [(ngModel)]="content" name="content" >
    </div>
  </div>
  <div>
    <div>
      <button (click)="add()">
        add
      </button>
    </div>
  </div>
  <table>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>content</th>
      <th></th>
    </tr>
    <tr *ngFor= "let item of listBlog">
      <td class="id" >{{item.id}}</td>
      <td class="title" *ngIf="editNumber !==item.id">{{item.title}}</td>
      <td class="title" *ngIf="editNumber === item.id">
        <input  formControlName="name" type="text" value="{{item.title}}">
      </td>
      <td class="content" *ngIf="editNumber !==item.id"  >{{item.content}}</td>
      <td class="content" *ngIf="editNumber ===item.id">
        <input  formControlName="name" type="text" value="{{item.content}}">
      </td>
      <td *ngIf="editNumber !==item.id">
        <button  (click)="edit(item,item.id)" [disabled]="isEditing">
        Edit
        </button>
      </td>
      <td *ngIf="editNumber ===item.id">
        <button  [ngClass]="isEditing? '':''" (click)="done(item)" >
          Done
        </button>
      </td>
      <td>
        <button (click)="deleteMe(item.id)">
        DELETE
        </button>
      </td>
    </tr>
</table>

</form>



