<form action="">

  <div>
    <div>id</div>
    <div>
      <input [(ngModel)]="id" name="id">
    </div>
  </div>
  <div>
    <div>title</div>
    <div>
      <input [(ngModel)]="title" name="title">
    </div>
  </div>
  <div>
    <div>content</div>
    <div>
      <input [(ngModel)]="content" name="content" >
    </div>
  </div>
  <div>
    <div>
      <button >
        add
      </button>
    </div>
  </div>
  <table>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>content</th>
      <th></th>
    </tr>
    <tr *ngFor= "let item of listBlog">
      <td>{{item.id}}</td>
      <td>{{item.title}}</td>
      <td>{{item.content}}</td>
      <td>
        <button (click)="deleteMe(item.id)">
        DELETE
        </button>
      </td>
    </tr>
</table>

</form>



